<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<!-- Primary Meta Tags -->
<title>Dimas Ibrahim - Product Manager</title>
<meta name="title" content="Dimas Ibrahim - Product Manager">
<meta name="description" content="Create braand, build digital product and services, innovate, find oppurtunities, and validate ideas">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="Dimas Ibrahim - Product Manager">
<meta property="og:description" content="Create braand, build digital product and services, innovate, find oppurtunities, and validate ideas">
<meta property="og:image" content="assets/images/meta.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="Dimas Ibrahim - Product Manager">
<meta property="twitter:description" content="Create braand, build digital product and services, innovate, find oppurtunities, and validate ideas">
<meta property="twitter:image" content="assets/images/meta.jpg">

<meta name="keywords" content="Product manager, dimas ibrahim, branding, photography, SEO">

<!-- FAVICON FILES -->
<link href="assets/images/icons/favicon.png" rel="apple-touch-icon" sizes="144x144">
<link href="assets/images/icons/favicon.png" rel="apple-touch-icon" sizes="120x120">
<link href="assets/images/icons/favicon.png" rel="apple-touch-icon" sizes="76x76">
<link href="assets/images/icons/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/fonts/iconfonts.css">
<link rel="stylesheet" href="assets/css/plugins.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<link rel="stylesheet" href="assets/css/color.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155334111-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155334111-1');
</script>

<script type="text/javascript">
    window._mfq = window._mfq || [];
    (function() {
      var mf = document.createElement("script");
      mf.type = "text/javascript"; mf.defer = true;
      mf.src = "//cdn.mouseflow.com/projects/187b67b6-5ece-4613-8efa-cf75dbc9da6b.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
    })();
  </script>


</head>
<body>
<div id="dtr-wrapper" class="clearfix"> 
    
    <!-- preloader starts -->
    <div class="dtr-preloader">
        <div class="dtr-preloader-inner">
            <div class="dtr-preloader-img"></div>
        </div>
    </div>
    <!-- preloader ends --> 
    
    <!-- == main content area starts == -->
    <div id="dtr-main-content"> 
        
        <!-- hero section starts
================================================== -->
        <section id="home" class="dtr-section dtr-hero-section-top-padding dtr-pb-100">
            <div class="container"> 
                
                <!--===== row 1 starts =====-->
                <div class="row"> 
                    
                    <!-- column 1 starts -->
                    <div class="col-12 col-md-8 dtr-mt-80"> 
                        <!-- intro text -->
                        <p class="text-size-xxl font-weight-300 color-dark">Hello,</p>
                        <p class="text-size-xxl font-weight-300 color-dark">I am <span class="font-weight-500">Dimas Ibrahim</span></p>
                        <div class="spacer-20"></div>
                        <!-- animated text starts -->
                        <h3><span class="dtr-animated-headline push"> <span class="dtr-words-wrapper"> 
                            
                            <!-- first visible word --> 
                            <b class="is-visible"><span class="color-blue">Product Manager</span></b> 
                            <!-- first visible word ends --> 
                            
                            <!-- second word --> 
                            <b class="is-hidden"><span class="color-blue">CRO Specialist</span></b> 
                            <!-- second word ends --> 

                            <!-- second word --> 
                            <b class="is-hidden"><span class="color-blue">Brand Manager</span></b> 
                            <!-- second word ends --> 
                            <!-- second word ends --> 
                            </span> </span></h3>
						<!-- animated text ends --> 
                    </div>
                    <!-- column 1 ends --> 
                    
                    
                    <!-- column 3 ends --> 
                    
                </div>
                <!--===== row 1 ends =====--> 
                <!--===== row 2 starts =====-->
                <div class="row dtr-mt-30"> 
                    
                    <!-- column 1 starts -->
                    <div class="col-12 col-md-10"> 
                        
                        <!-- text -->
                        <p class="text-size-md">I help our clients create <span class="font-weight-500 color-dark">brands</span>, build digital <span class="font-weight-500 color-dark">products</span> and <span class="font-weight-500 color-dark">revenue optimization.</span></p>
                        
                        <!-- social starts -->
                        <ul class="dtr-social dtr-social-list dtr-styled-social text-left dtr-mt-30">
                            <li class="dtr-social-title font-weight-500 color-dark">Follow Me on</li>
                            <li><a href="https://www.instagram.com/dim_ibrahim" class="dtr-social-button dtr-instagram" target="_blank" title="instagram"><span>Follow on Instagram</span></a></li>
                            <li><a href="https://www.linkedin.com/in/dimas-ibrahim" class="dtr-social-button dtr-linkedin" target="_blank" title="linkedin"><span>View My Profile</span></a></li>
                        </ul>
                        <!-- social ends --> 
                        
                    </div>
                    <!-- column 1 ends --> 
                    
                    <!-- column 2 starts -->
                    <div class="col-12 col-md-2 dtr-rounded-img small-device-space hidden-sm"> <img src="assets/images/experience-img.jpg" alt="image"> </div>
                    <!-- column 2 ends --> 
                    
                </div>
                <!--===== row 2 ends =====--> 
                
            </div>
        </section>
        <!-- hero section ends
================================================== --> 
        
        <!-- about section starts
================================================== -->
        <section id="about" class="dtr-section dtr-pt-100 dtr-pb-80 bg-light-blue">
            <div class="container"> 
                
                <!--===== row 1 starts =====-->
                <div class="row d-flex align-items-center"> 
                    
                    <!-- column 1 starts -->
                    <div class="col-12 col-md-6 small-device-space">
                        <div class="dtr-pr-30"> <img src="assets/images/personal_img.png" alt="image"> </div>
                    </div>
                    <!-- column 1 ends --> 
                    
                    <!-- column 2 starts -->
                    <div class="col-12 col-md-6"> 
                        
                        <!-- heading starts -->
                        <div class="dtr-styled-heading">
                            <h2>About Me</h2>
                            <p></p>
                        </div>
                        <!-- heading ends --> 
                        
                        <!-- text -->
                        <p class="font-weight-500 color-dark">Developing as well as enhancing products by integrating business goals, brand strategy & great user experience to achieve the best end products.</p>
                        <p class="dtr-mt-20">Experienced Product Manager with a demonstrated history of working in the online media & travel industries. Excels in Product Management, <strong>Conversion Rate Optimization,</strong> Brand Development</p>
                        <div class="row dtr-mt-20">
                            <div class="col-12 col-md-7">
                                <table class="table dtr-border-table">
                                    <tbody>
                                        <tr>
                                            <th>Name :</th>
                                            <td>Dimas Ibrahim</td>
                                        </tr>
                                        <tr>
                                            <th>Email :</th>
                                            <td>dimibrahim93@gmail.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-md-5">
                                <table class="table dtr-border-table">
                                    <tbody>
                                        <tr>
                                            <th>Age :</th>
                                            <td>28 Years</td>
                                        </tr>
                                        <tr>
                                            <th>Phone :</th>
                                            <td><a href="https://wa.me/6289601869274?text=Hallo%20Dimas" class="dtr-read-more">Call me</a></td>
                                        </tr>
                                        <tr>
                                            <th>City :</th>
                                            <td>Bogor</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <!-- link starts --> 
                        <a href="https://drive.google.com/file/d/1QDPEuWkSsmzfWZOx86XTjWrit9sef37W/view?usp=sharing" target="_blank" class="dtr-btn btn-blue dtr-mt-30">Download CV <i class="icon-chevron-compact-right"></i></a> </div>
                    <!-- column 2 ends --> 
                    
                </div>
                <!--===== row 1 ends =====--> 
                
                <!-- heading starts -->
                
                <div class="heading-left dtr-mt-80">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3 dtr-mt-10s"> 
                            <h2>My Skills</h2>
                        </div>
                        <div class="col-6 col-sm-6 col-lg-3 dtr-mt-10"> 
                            <p class="font-weight-500 color-dark">Product Management</p>
                            <ul style="margin-left: 20px;">
                                <li>Planing project</li>
                                <li>Competitive Analysis</li>
                                <li>Scrum Metodelogy</li>
                                <li>Product Reporting</li>
                                <li>Product Documenting</li>
                            </ul>
                        </div>
                        <div class="col-6 col-sm-6 col-lg-3 dtr-mt-10"> 
                            <p class="font-weight-500 color-dark">Brand Management</p>
                            <ul style="margin-left: 20px;">
                                <li>Brand Development</li>
                                <li>Brand Strategy</li>
                                <li>User Engagement</li>
                                <li>Brand Delivery</li>
                                <li>Brand Idendity</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 dtr-mt-10"> 
                            <p class="font-weight-500 color-dark">Conversion Rate Optimization</p>
                            <ul style="margin-left: 20px;">
                                <li>CRO Audit - Heuristic Analysis</li>
                                <li>Marketing Funneling</li>
                                <li>Human Behavior</li>
                                <li>UX Research</li>
                                <li>A/B Testing</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                
                <!-- heading ends --> 

                <!-- heading starts -->
                
                <div class="heading-left dtr-mt-80">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3 dtr-mt-10"> 
                            <h2>Workshop</h2>
                        </div>
                        <div class="col-6 col-sm-6 col-lg-3 dtr-mt-10"> 
                            <div class="img-sertifikat"><img style="height: 46px;
                                margin: 20px 0;" src="assets/images/logo-meta.png" alt="logo meta"></div>
                            <p class="font-weight-500 color-dark">Global Retention Accelerator</p>
                            <p>Training program designed to help news organizations solidify their reader revenue businesses. (grant project : $40.000)</p>

                            <p class="font-weight-500 color-dark">Coach</p>
                            <p>Meta - Jocelyn Cripps</p>
                        </div>
                        <div class="col-6 col-sm-6 col-lg-3 dtr-mt-10"> 
                            <div class="img-sertifikat"><img src="assets/images/somia.png" alt="logo"></div>
                            
                            <p class="font-weight-500 color-dark">User Experience Fudamental</p>
                            <p>Design meaningful and purposeful solutions to improve experiences for people and deliver positive impact</p>

                            <p class="font-weight-500 color-dark">Trainer</p>
                            <p>Somia - Ketut Sulistyawati</p>
                        </div>
                        <div class="col-6 col-sm-6 col-lg-3 dtr-mt-10"> 
                            <div class="img-sertifikat"><img style="height: 64px;" src="assets/images/circleux.png" alt="logo"></div>
                            <p class="font-weight-500 color-dark">3 Days Design Sprint</p>
                            <p>Five-phase process that uses design thinking with the aim of reducing the risk when bringing a new product</p>

                            <p class="font-weight-500 color-dark">Trainer</p>
                            <p>Circleux - Borrys Hasian</p>
                        </div>
                        
                    </div>
                </div>
                
                <!-- heading ends -->
                
                
                
            </div>
        </section>
        <!-- about section ends
================================================== --> 
        
        <!-- services section starts
================================================== -->
        <section id="services" class="dtr-section dtr-py-100">
            <div class="container"> 
                
                <!-- heading starts -->
                <div class="dtr-styled-heading heading-center">
                    <h2>What I Do</h2>
                         <p>I offer some top notch services</p>
                </div>
                <!-- heading ends -->
                
                <div class="row"> 

                    <!-- box 1 starts -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="dtr-service-box bg-white">
                            <p class="dtr-service-number color-blue">01</p>
                            <img src="assets/images/icon-4.png" alt="image">
                            <h4 class="dtr-service-heading">Product Management</h4>
                            <p>Complete process of delivering a new product or improving an existing one for customers. from planning to launch</p>
                        </div>
                    </div>
                    <!-- box 1 ends --> 

                    <!-- box 2 starts -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="dtr-service-box bg-white">
                            <p class="dtr-service-number color-blue">02</p>
                            <img src="assets/images/icon-2.png" alt="image">
                            <h4 class="dtr-service-heading">Product Design</h4>
                            <p>Turn your unique selling proposition into a feature that will make your brand stand out with a best User Experience</p>
                        </div>
                    </div>
                    <!-- box 2 ends --> 
                    
                    <!-- box 3 starts -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="dtr-service-box bg-white">
                            <p class="dtr-service-number color-blue">03</p>
                            <img src="assets/images/icon-3.png" alt="image">
                            <h4 class="dtr-service-heading">Branding</h4>
                            <p>Develop behavior and relationship an individual has with an organization, product, or service.</p>
                        </div>
                    </div>
                    <!-- box 3 ends --> 
                    
                    <!-- box 4 starts -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="dtr-service-box bg-white">
                            <p class="dtr-service-number color-blue">04</p>
                            <img src="assets/images/icon-1.png" alt="image">
                            <h4 class="dtr-service-heading">UX Research</h4>
                            <p>Study target users to collect and analyze data that will help inform the product design process</p>
                        </div>
                    </div>
                    <!-- box 4 ends --> 
                    
                    <!-- box 5 starts -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="dtr-service-box bg-white">
                            <p class="dtr-service-number color-blue">05</p>
                            <img src="assets/images/icon-5.png" alt="image">
                            <h4 class="dtr-service-heading">Marketing Funneling</h4>
                            <p>Designing customer funnel from unknown to segment, MQL, SQL, PQL and RFM segments</p>
                        </div>
                    </div>
                    <!-- box 5 ends --> 
                    
                    <!-- box 6 starts -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="dtr-service-box bg-white">
                            <p class="dtr-service-number color-blue">06</p>
                            <img src="assets/images/icon-6.png" alt="image">
                            <h4 class="dtr-service-heading">CRO Audit</h4>
                            <p>Analyze Behavioral economics, barriers and motivations to increase conversion rates</p>
                        </div>
                    </div>
                    <!-- box 6 ends --> 
                    
                </div>
            </div>
        </section>
        
        <!-- services section ends
================================================== --> 
        
        
        <!-- timeline section starts
================================================== -->
        <section id="timeline" class="dtr-section dtr-py-100 bg-light-blue">
            <div class="container"> 
                
                <!-- heading starts -->
                <div class="dtr-styled-heading heading-left">
                    <h2>My Experience</h2>
                </div>
                <!-- heading ends -->
                
                <div class="row"> 
                    
                    <!-- column 1 starts -->
                    <div class="col-12 col-lg-6">
                        <div class="dtr-pr-15"> 

                             <!-- timeline item 1 starts -->
                             <div class="dtr-timeline-item">
                                <p class="dtr-timeline-title">2022 - Present</p>
                                <div class="dtr-timeline-text">
                                    <h5>Product Manager - Tempo Inti Media</h5>
                                    <p>Analyzes user behavior data and conducts
                                        experiments to <strong>increase customer
                                        conversions</strong> and user loyalty levels of
                                        subscriber Tempo digital.</p>
                                </div>
                            </div>
                            <!-- timeline item 1 ends --> 
                        
                            <!-- timeline item 1 starts -->
                            <div class="dtr-timeline-item">
                                <p class="dtr-timeline-title">2016 - 2022</p>
                                <div class="dtr-timeline-text">
                                    <h5>Product Manager - detikNetwork</h5>
                                    <p>Focusing to <strong>increase the engagement user,</strong> retention rate and user activity in detiknetwork by improving and developing the several interaction platforms</p>
                                </div>
                            </div>
                            <!-- timeline item 1 ends --> 
                            
                            <!-- timeline item 2 starts -->
                            <div class="dtr-timeline-item">
                                <p class="dtr-timeline-title">2016</p>
                                <div class="dtr-timeline-text">
                                    <h5>UI/UX Designer - Goldenrama</h5>
                                    <p>Creating a useful, fun, and engaging user experience for booking worldwide travel 
                                    </p>
                                </div>
                            </div>
                            <!-- timeline item 2 ends --> 
                            
                            
                        </div>
                    </div>
                    <!-- column 1 ends --> 
                    
                    <!-- column 2 starts -->
                    <div class="col-12 col-lg-6">
                        <div class="dtr-pl-15"> 
                        
                            <!-- timeline item 1 starts -->
                            <div class="dtr-timeline-item">
                                <p class="dtr-timeline-title">2015 - 2016</p>
                                <div class="dtr-timeline-text">
                                    <h5>Fullstack Developer - Goldenrama</h5>
                                    <p>Developed new Goldenrama web application and API by adopting microservices architecture to replace the old monolithic system</p>
                                </div>
                            </div>
                            <!-- timeline item 1 ends --> 
                            
                            <!-- timeline item 2 starts -->
                            <div class="dtr-timeline-item">
                                <p class="dtr-timeline-title">2014 - Present</p>
                                <div class="dtr-timeline-text">
                                    <h5>Freelancer - Design, Branding & Photograph</h5>
                                    <p>Skilled freelance Graphic Designer, Branding & Photograph with over a year of experience in the field. Dedicated to staying up-to-date on new techniques and procedures related to design product.</p>
                                </div>
                            </div>
                            <!-- timeline item 2 ends --> 
                            
                            
                        </div>
                    </div>
                    <!-- column 2 ends --> 
                    
                </div>
            </div>
        </section>
        <!-- timeline section ends
================================================== --> 
        
        
        <!-- blog section starts
================================================== -->
        <section id="blog" class="dtr-section dtr-py-100">
            <div class="container"> 
                
                <!-- heading starts -->
                <div class="dtr-styled-heading heading-center">
                    <h2>What i Have Done</h2>
                    <p> Behind the scene of my projects</p>
                </div>
                <!-- heading ends --> 
                
                <!--== row starts ==-->
                <div class="row dtr-mt-30"> 
                    
                    <!-- column 1 starts -->
                    <div class="col-12 col-md-4"> 

                        <!-- blog item 1 starts -->
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/brand-tempo.png" alt="foto detikcom"> </div>
                            <div class="dtr-post-content">
                                <h5>Rebranding Tempo.co</h5>
                                <p>Brand sprint facilitator of rebranding Tempo.co</p>
                                </div>
                        </div>

                        
                        <!-- blog item 1 starts -->
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/detikcom.png" alt="foto detikcom"> </div>
                            <div class="dtr-post-content">
                                <h5>Engage & Membership of detikNetwork</h5>
                                <p>Focusing to increase the engagement user, retention rate and user activity in detiknetwork by improving and developing the several interaction platforms</p>
                                <p class="color-blue">Tools</p>
                                <p>Article Comment,
                                    Head to Head Comment,
                                    Live Chat,
                                    User Generated Content,
                                    DetikID</p>
                                </div>
                        </div>

                        <!-- blog item 2 starts -->
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/ticketing.jpg" alt="ticketing goldenrama"> </div>
                            <div class="dtr-post-content">
                                <h5>Flight Ticketing Engine - Goldenrama</h5>
                                <p>Researched user flow in ticket flight booking also designed UI and developed flight OTA by using API from third party vendor</p>
                                </div>
                        </div>
                        <!-- blog item 2 ends --> 


                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/bk.png" alt="Katalog onda"> </div>
                            <div class="dtr-post-content">
                                <h5 href="https://Belajarkonversi.com">Blog Belajarkonversi.com</h5>
                                <p>Personal blog with conversion rate
                                    optimization content category</p>
                                </div>
                        </div>
                        <!-- blog item 1 ends --> 
                        
                    </div>
                    <!-- column 1 ends --> 
                    
                    <!-- column 2 starts -->
                    <div class="col-12 col-md-4">

                        <!-- blog item 2 starts -->
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/tempo.png" alt="detikinet"> </div>
                            <div class="dtr-post-content">
                                <h5>Lead CRO & Retention Experiment</h5>
                                <p>Analyzes user behavior data and conducts
                                    experiments to increase customer
                                    conversions and user loyalty levels of
                                    subscriber Tempo digital.</p>
                                </div>
                        </div>
                        <!-- blog item 2 ends --> 
                        
                        <!-- blog item 2 starts -->
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/detikinet.jpg" alt="detikinet"> </div>
                            <div class="dtr-post-content">
                                <h5>Product Owner detikInet</h5>
                                <p>Research and analysis of competitive landscape, users, product metrics, and keep up-to-date with latest internet trends to determine and initiate the specifications and the right feature set to drive the product improvement</p>
                                </div>
                        </div>
                        <!-- blog item 2 ends --> 
                        
                        

                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/goldenrama.jpg" alt="goldenrama"> </div>
                            <div class="dtr-post-content">
                                <h5>Rework Goldenrama</h5>
                                <p>Developed new Golden Rama web application and API by adopting microservices architecture to replace the old monolithic system</p>
                                <p class="color-blue">List Feature</p>
                                <p>NodeJS & Yii2, SASS, ElasticSearch, Bitbucket Pipeline - CI/CD, MySQL, MongoDB, Redis</p>
                                </div>
                        </div>

                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/nilakandi.jpg" alt="nilakandi chocolate"> </div>
                            <div class="dtr-post-content">
                                <h5>Owner Nilakandi.com</h5>
                                <p>Create brand identity, product packaging and website catalogs with JAMStack technology</p>
                                </div>
                        </div>
                        
                    </div>
                    <!-- column 2 ends --> 
                    
                    <!-- column 3 starts -->
                    <div class="col-12 col-md-4"> 

                        <!-- blog item 2 starts -->
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/funnel.jpg" alt="my fun holiday"> </div>
                            <div class="dtr-post-content">
                                <h5>Design Funnel Marketing</h5>
                                <p>Build consumer flow from unknown to
                                    user segmentation, MQL, SQL, Sales and
                                    RFM Segmentation</p>
                                </div>
                        </div>
                        <!-- blog item 2 ends --> 
                        
                        <!-- blog item 3 starts -->
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/detikx.jpg" alt="detikx"> </div>
                            <div class="dtr-post-content">
                                <h5>Product Owner detikX</h5>
                                <p>In-depth articles with visual interaction channel of detikcom</p>                                </p>
                                <p class="color-blue">Creative Project:</p>
                                <ul style="padding-left:20px;">
                                    <li>
                                      <a href="https://news.detik.com/x/detail/intermeso/20180816/Pemuda-Radikal-Paksa-Kemerdekaan/" target="_blank">Pemuda Radikal Paksa Kemerdekaan</a>
                                    </li>
                                    <li>
                                      <a href="https://news.detik.com/x/detail/intermeso/20180723/Rusia-Report/" target="_blank">Statistik dan Catatan Menarik Piala Dunia 2018</a>
                                    </li>
                                    <li>
                                      <a href="https://news.detik.com/x/detail/intermeso/20170425/Jasa-Raharja/" target="_blank">Kecelakaan Memicu Kemiskinan</a>
                                    </li>
                                  </ul>
                                </div>
                        </div>
                        <!-- blog item 3 ends --> 

                        <!-- blog item 2 starts -->
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/funid.jpg" alt="my fun holiday"> </div>
                            <div class="dtr-post-content">
                                <h5>Rework fun.id</h5>
                                <p>Developed myfunholidays website with Goldenrama API using PHP Framework Yii2 & Bootstrap</p>
                                </div>
                        </div>
                        <!-- blog item 2 ends --> 
                        
                        <div class="dtr-blog-item"> 
                            <!-- image -->
                            <div class="dtr-post-img"> <img src="assets/images/branding.jpg" alt="brainstrom"> </div>
                            <div class="dtr-post-content">
                                <h5>Develop Branding Journey Framework for Digital Product</h5>
                                <p>Documenting the whole process of creating a digital product brand</p>
                                <a href="https://miro.com/app/board/o9J_le5jaIE=/" target="_blank" class="dtr-read-more">Learn More</a>
                                </div>
                        </div>

                    </div>
                    <!-- column 3 ends --> 
                    
                </div>
                <!--== row starts ==--> 
                
            </div>
        </section>
        <!-- blog section ends
================================================== --> 

       <!-- cta section starts
================================================== -->
<section class="dtr-section dtr-py-100" >
    <div class="container"> 
        
        <!--== row starts ==-->
        <div class="row text-center">
            <div class="col-12">
                <h3 class="font-family-alt font-weight-700 color-dark">Want to work together!</h3>
                <p class="color-dark text-size-md">I’m available for <strong>free consultant </strong> & freelance work.</p>
                <!-- link starts --> 
                <a href="https://wa.me/6289601869274?text=Hallo%20Dimas" class="dtr-btn btn-blue dtr-mt-30">Say hello <i class="icon-chevron-compact-right"></i></a> 
                <!-- link ends --> 
            </div>
        </div>
        <!--== row ends ==--> 
        
    </div>
</section>
<!-- cta section ends
================================================== --> 

<section id="blog" class="dtr-section dtr-py-100 bg-light-blue">
    <div class="container"> 
        <!-- heading starts -->
        <div class="dtr-styled-heading heading-center">
            <h2>My Blog</h2>
            <a href="https://belajarkonversi.com"><p>BelajarKonversi.com >>></p></a>
        </div>
        <!-- heading ends --> 

        <div class="row dtr-mt-30"> 
                    
            <!-- column 1 starts -->
            <div class="col-12 col-md-4"> 
                <div class="dtr-blog-item"> 
            <!-- image -->
                <a href="https://www.belajarkonversi.com/post/pendahuluan-konversi/">
                <div class="dtr-post-img"> <img src="https://www.belajarkonversi.com/images/cover-pendahuluan-konversi.png" alt="brainstrom"> </div>
                <div class="dtr-post-content">
                    <h5>Pendahuluan Konversi User</h5>
                    <p>Memahami definisi konversi dan yang akan ada pelajari belajarkonversi.com</p>
                </div>
                </a>
            </div>
            </div>

            <!-- column 1 starts -->
            <div class="col-12 col-md-4"> 
                <div class="dtr-blog-item"> 
            <!-- image -->
                <a href="https://www.belajarkonversi.com/post/jenis-konversi-user/">
                <div class="dtr-post-img"> <img src="https://www.belajarkonversi.com/images/cover-jenis-konversi.png" alt="brainstrom"> </div>
                <div class="dtr-post-content">
                    <h5>Jenis Konveri User</h5>
                    <p>Setiap jenis konversi user pasti memiliki tujuan, kenali jenis konversi dan bagaimana mengukurnya</p>
                </div>
                </a>
            </div>
            </div>

            <!-- column 1 starts -->
            <div class="col-12 col-md-4"> 
                <div class="dtr-blog-item"> 
            <!-- image -->
                <a href="https://www.belajarkonversi.com/post/nilai-dasar-manusia-schwartz-theory/">
                <div class="dtr-post-img"> <img src="https://www.belajarkonversi.com/images/cover-nilai-dasar.png" alt="brainstrom"> </div>
                <div class="dtr-post-content">
                    <h5>Nilai Dasar Manusia, Schwartz Theory
                    </h5>
                    <p>Setiap manusia memiliki cara menilai yang berbeda beda, teori ini ditemukan oleh Schawatz</p>
                </div>
                </a>
            </div>
            </div>

             
    </div>
</section>



        
        <!-- footer section starts
================================================== -->
        <footer id="dtr-footer"> 
            
            <!--== copyright starts ==-->
            <div class="dtr-copyright">
                <div class="container"> 
                    
                    <!--== row starts ==-->
                    <div class="row"> 
                        
                        <!-- column 1 starts -->
                        <div class="col-12 col-md-6">
                            <p> Copyright © Nilakandi 2022. All rights reserved.</p>
                        </div>
                        <!-- column 1 ends --> 
                        
                        <!-- column 2 starts -->
                        
                        <!-- column 2 ends --> 
                        
                    </div>
                    <!--== row ends ==--> 
                    
                </div>
            </div>
            <!--== copyright ends ==--> 
            
        </footer>
        <!-- footer section ends
================================================== --> 
        
    </div>
    <!-- == main content area ends == --> 
    
</div>
<!-- #dtr-wrapper ends --> 

<!-- JS FILES --> 
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/plugins.js"></script> 
<script src="assets/js/custom.js"></script>
</body>
</html>